<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="user">
  <!--Left-->
  <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="/" routerLinkActive="active"
      [routerLinkActiveOptions]="{exact: true}">Home</a>
    <a class="nav-item nav-link" routerLink="/users-management" routerLinkActive="active" *ngIf="isAdmin">Management</a>
    <a class="nav-item nav-link" routerLink="/teacher" routerLinkActive="active" *ngIf="isTeacher">Teacher</a>
    <a class="nav-item nav-link" routerLink="/editor" routerLinkActive="active">Editor</a>
  </div>
  <!--Right-->
  <div class="navbar-nav ml-auto">
    <a class="nav-item nav-link" routerLink="/profile" routerLinkActive="active">Profile</a>
    <a class="nav-item nav-link" (click)="logout()">Logout</a>
  </div>
</nav>


<!-- main app container -->
<div class="app-container" [ngClass]="{ 'bg-light': user }">
  <app-alert></app-alert>
  <router-outlet></router-outlet>
</div>
